
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maroon: #800000;
}

body {
  color: #1a1a1a;
  background: #fcfcfc;
  scroll-behavior: smooth;
}

@layer components {
  .btn-maroon {
    @apply bg-maroon-900 text-white px-6 py-3 rounded-full font-bold transition-all hover:bg-maroon-950 shadow-lg shadow-maroon-900/20 active:scale-95;
  }
}
